.design-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid orange;
}

.designer-card {
    color: $white;
    padding: 1rem;
    width: 410px;
    height: 189px;
    background-color: $dark;
    z-index: 10;
    margin-top: -5rem;
    margin-left: 21.5rem;
    max-width: 100vh;
    
    @media screen and (max-width: 768px) {
        margin-top: -2rem;
        margin-left: 2rem;
        width: 260px;
        height: 98px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); //solo en mobile
    }
}


.designer__header {
    display: flex;
    position: relative;   
}

.designer__name {
    font-family: $text, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    color: $white;
    width: 95px;
    height: 17px;
    margin-left: 1rem;
    
    @media screen and (max-width:768px){
        width: 133px;
        height: 12px;
        font-size: 12px;
    }
}

.designer__position {
    font-family: $text, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    width: 102px;
    height: 15px;
    color: #828282;
    position: absolute;
    top: 1rem;
    left: 5.5rem;
    padding-top: 0.5rem;

    @media screen and (max-width:768px){
        width: 142px;
        height: 15px;
        font-size: 10px;
        left: 4.3rem;
    }
}

.designer__date {
    font-family: $main-title, serif;
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    width: 250px;
    height: 72px;
    line-height: 31px;

    @media screen and (max-width:768px){
        width: 210px;
        height: 45px;
        font-size: 18px;
        line-height: 23px;
    }
}