.design-header {
    display: flex;
    justify-content: space-between;
}


.btn {
    font-family: $btn, serif;
    font-weight: 200;
    font-style: normal;
    font-size: 14px;
    text-transform: uppercase;
    color: $white;
    width: 103px;
    height: 31px;
    border: 1px solid $white;
    background-color: transparent;
}