.design-img {
    width: 821px;
    height: 526px;
    z-index: 5;

    @media screen and (max-width:768px){
        width: 330px;
        height: 220px;
    }
}

.designer__img {
    border-radius: 50%;
    height: 72px; 
    
    @media screen and (max-width:768px){
        height: 52px;
    }
}