// Imagen central
.design-img {
    max-width: 100%;
    display: block;
    height: auto;
    z-index: 5;

    @media screen and (max-width:768px){
        width: 300px;
        height: 190px;
    }
}

//Imagen del diseñador
.designer__img {
    border-radius: 50%;
    height: 72px; 
    
    @media screen and (max-width:768px){
        height: 52px;
    }
}