html {
    height: 100vh;
}

body {
    background-color: $dark;
}

.container {
    //margin: 0 auto;
    margin: 2rem 3.5rem;

    @media screen and (max-width: 768px){
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}